<% if @current_user %>

<div class="row">
    <div class="col-12">
        <h3 class="text-center">Modifier <%= @person.first_name %> <%= @person.last_name %></h3>
            <%= form_tag "/persons/#{@person.id}", method: "patch" do %>
                <form>
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control border" value="<%= @person.last_name %>" name="last_name" />
                    </div>
                    <div class="form-group">
                        <label>Prénom</label>
                        <input type="text" class="form-control border" value="<%= @person.first_name %>" name="first_name" />
                    </div>
                    <div class="form-group">
                        <label>Mail</label>
                        <input type="text" class="form-control border" value="<%= @person.person_mail %>" name="person_mail" />
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control border" value="<%= @person.person_phone %>" name="person_phone" />
                    </div>
                    <div class="form-group">
                        <label>Site web</label>
                        <input type="text" class="form-control border" value="<%= @person.person_website %>" name="person_website" />
                    </div>
                    <div class="form-group">
                        <label>Facebook</label>
                        <input type="text" class="form-control border" value="<%= @person.person_facebook %>" name="person_facebook" />
                    </div>
                    <div class="form-group">
                        <label>Twitter</label>
                        <input type="text" class="form-control border" value="<%= @person.person_twitter %>" name="person_twitter" />
                    </div>
                    <div class="form-group">
                        <label>Instagram</label>
                        <input type="text" class="form-control border" value="<%= @person.person_instagram %>" name="person_instagram" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Modifier la personne</button>
                    </div>
                </form>
            <% end %>
    </div>
</div>

<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
<% end %>