<% if @current_user %>

<div class="row">
    <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Mail</th>
              <th scope="col">Phone</th>
              <th scope="col">Site web</th>
            </tr>
          </thead>
          <tbody>
            <% @persons.each.each do |person| %>
                <tr>
                  <td><a href="/persons/<%= person.id %>"><%= person.last_name %></a></td>
                  <td><a href="/persons/<%= person.id %>"><%= person.first_name %></a></td>
                  <td><%= person.person_mail %></td>
                  <td><%= person.person_phone %></td>
                  <td><a href="<%= person.person_website %>" target="_blank"><%= person.person_website %></a></td>
                </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    
    <div class="col-12">
        <%= paginate @persons %>
    </div>
</div>

<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
<% end %>