<% if @current_user %>

<div class="row">
    <div class="col-6 text-center">
        <a href="/persons/<%= @person.id %>/update" class="btn btn-primary btn-sm">Modifier la personne</a>
    </div>
    <div class="col-6">
        <%= form_tag("/persons/#{params[:id]}", method: "delete", class: 'text-center') do %>
          <%= submit_tag("Supprimer la personne", class: 'btn btn-primary btn-sm') %>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1 class="text-center"><%= @person.last_name %> <%= @person.first_name %></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3 class="text-center">Marques</h3>
        <ul class="list-group list-group-flush">
            <% @members.each do |member| %>
                <li class="list-group-item"><a href="/brands/<%= member.brand.id %>"><%= member.brand.brand_title %></a></li>
            <% end %>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group list-group-flush">
            <h3 class="text-center">Contact</h3>
            <li class="list-group-item"><i class="fab fa-internet-explorer"></i> <a href="<%= @person.person_website %>" target="_blank">Voir le site</a></li>
            <li class="list-group-item"><i class="fas fa-envelope-square"></i> <a href="mailto:<%= @person.person_mail %>"><%= @person.person_mail %></a></li>
            <li class="list-group-item"><i class="fas fa-phone-square-alt"></i> <%= @person.person_phone %></li>
            <li class="list-group-item"><i class="fab fa-facebook-square"></i> <a href="<%= @person.person_facebook %>" target="_blank">Voir le Facebook</a></li>
            <li class="list-group-item"><i class="fab fa-twitter-square"></i> <a href="<%= @person.person_twitter %>" target="_blank">Voir le Twitter</a></li>
            <li class="list-group-item"><i class="fab fa-instagram"></i> <a href="<%= @person.person_instagram %>" target="_blank">Voir le Instagram</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Historique</h3>
        <ul class="list-group list-group-flush">
            <% @notes.each do |note| %>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-1">
                            <%= form_tag("/notes/#{note.id}", method: "delete", class: '') do %>
                                <%= submit_tag("X", class: 'btn btn-primary btn-sm') %>
                            <% end %>
                        </div>
                        <div class="col-11">
                            <p class="text-left"><%= note.note_datetime.strftime("Le %d/%m/%Y à %H:%M") %> avec <a href="/brands/<%= note.brand.id %>"><%= note.brand.brand_title %></a></p>
                            <p><%= note.note_content %></p>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row">
</div>

<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
<% end %>