<% if @current_user %>

<div class="row">
    <div class="col-6 text-center">
        <a href="/persons/<%= @person.id %>/update" class="btn btn-primary btn-sm">Modifier la personne</a>
    </div>
    <div class="col-6">
        <%= form_tag("/persons/#{params[:id]}", method: "delete", class: 'text-center') do %>
          <%= submit_tag("Supprimer la personne", class: 'btn btn-primary btn-sm') %>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1 class="text-center"><%= @person.last_name %> <%= @person.first_name %></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3 class="text-center">Marques</h3>
        <% @members.each do |member| %>
            <p><a href="/brands/<%= member.brand.id %>"><%= member.brand.brand_title %></a></p>
        <% end %>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Contact</h3>
        <p>Site web : <%= @person.person_website %></p>
        <p>Mail : <%= @person.person_mail %></p>
        <p>Phone : <%= @person.person_phone %></p>
        <p>Facebook : <%= @person.person_facebook %></p>
        <p>Twitter : <%= @person.person_twitter %></p>
        <p>Instagram : <%= @person.person_instagram %></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 class="text-center">Historique</h3>
        <% @notes.each do |note| %>
            <div class="row">
                <div class="col-1">
                    <%= form_tag("/notes/#{note.id}", method: "delete", class: '') do %>
                        <%= submit_tag("X", class: 'btn btn-primary btn-sm') %>
                    <% end %>
                </div>
                <div class="col-11">
                    <p class="text-left"><%= note.note_datetime.strftime("Le %d/%m/%Y à %H:%M") %> avec <a href="/brands/<%= note.brand.id %>"><%= note.brand.brand_title %></a></p>
                    <p><%= note.note_content %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>

<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
<% end %>