<% if @current_user %>

<div class="row">
    <div class="col-md-4">
        <h3 class="text-center">Ajouter une marque</h3>
            <%= form_tag "/brands", method: "post" do %>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Nom de la marque" name="brand_title" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Description de la marque" name="brand_desc" />
                    </div>
                    <div class="form-group">
                        <label>Status de la marque</label>
                        <select name="brand_status" class="form-control border">
                           <option value="A contacter">A contacter</option>
                           <option value="Contacté">Contacté</option>
                           <option value="Relancé">Relancé</option>
                           <option value="En cours">En cours</option>
                           <option value="Validé">Validé</option>
                           <option value="Refusé">Refusé</option>
                           <option value="Ban">Ban</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Mail de la marque" name="brand_mail" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Phone de la marque" name="brand_phone" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Site web de la marque" name="brand_website" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Facebook de la marque" name="brand_facebook" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Twitter de la marque" name="brand_twitter" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Instagram de la marque" name="brand_instagram" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="SIREN de la marque" name="brand_siren" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Adresse de la marque" name="brand_address" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Code postal" name="brand_postal" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Ville" name="brand_city" />
                    </div>
                    <div class="form-group">
                        <label>Statut juridique de la marque</label>
                        <select name="brand_juridiq" class="form-control border">
                            <option value="Particulier">Particulier</option>
                            <option value="Micro-entreprise">Micro-entreprise</option>
                            <option value="SAS / SASU">SAS / SASU</option>
                            <option value="SARL">SARL</option>
                            <option value="EURL / EIRL">EURL / EIRL</option>
                            <option value="Association">Association</option>
                            <option value="Autre">Autre</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Présence dans le groupe</label>
                        <select name="brand_group" class="form-control border">
                           <option value="Oui">Oui</option>
                           <option value="Non">Non</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Ajouter la marque</button>
                    </div>
                </form>
            <% end %>
    </div>
    
    <div class="col-md-4">
        <h3 class="text-center">Ajouter une personne</h3>
            <%= form_tag "/persons", method: "post" do %>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Nom" name="last_name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Prénom" name="first_name" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Mail" name="person_mail" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Phone" name="person_phone" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Site web" name="person_website" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Facebook" name="person_facebook" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Twitter" name="person_twitter" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Instagram" name="person_instagram" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Ajouter la personne</button>
                    </div>
                </form>
            <% end %>
    </div>
    <div class="col-md-4">
            <h3>Ajouter un membre à une marque</h3>
            <%= form_tag "/members", method: "post" do %>
                <form>
                  <div class="form-group">
                    <select name="brand_id" class="form-control border">
                    <option value=""> -- select an option -- </option>
                    <% @brands.each do |brand| %>
                    <option value="<%= brand.id %>"><%= brand.brand_title %></option>
                    <% end %>
                    </select>
                  </div>
                  <div class="form-group">
                    <select name="people_id" class="form-control border">
                    <option value=""> -- select an option -- </option>
                    <% @persons.each do |person| %>
                    <option value="<%= person.id %>"><%= person.first_name %> <%= person.last_name %></option>
                    <% end %>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control border" placeholder="Rôle" name="member_role" />
                  </div>
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary">Ajouter le membre</button>
                  </div>
                </form>
            <% end %>
    </div>
</div>

<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
<% end %>