<div class="row">
    <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col">Mail</th>
              <th scope="col">Site web</th>
            </tr>
          </thead>
          <tbody>
            <% @brands.each.each do |brand| %>
                <tr>
                  <td><a href="/brands/<%= brand.id %>"><%= brand.brand_title %></a></td>
                  <td><%= brand.brand_desc.truncate_words(6) %></td>
                  <td><%= brand.brand_status %></td>
                  <td><%= brand.brand_mail %></td>
                  <td><a href="<%= brand.brand_website %>" target="_blank"><%= brand.brand_website %></a></td>
                </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>