<% if @current_user %>

<div class="row">
    <div class="col-6 text-center">
        <a href="/brands/<%= @brand.id %>/update" class="btn btn-primary btn-sm">Modifier la marque</a>
    </div>
    <div class="col-6">
        <%= form_tag("/brands/#{params[:id]}", method: "delete", class: 'text-center') do %>
          <%= submit_tag("Supprimer la marque", class: 'btn btn-primary btn-sm') %>
        <% end %>
    </div>
</div>

<div class="row marged">
    <div class="col-12">
        <h1 class="text-center"><%= @brand.brand_title %></h1>
    </div>
</div>

<div class="row marged">
    <div class="col-md-2">
        <h3 class="text-center">Infos</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Etat : <%= @brand.brand_status %></li>
          <li class="list-group-item">Description : <%= @brand.brand_desc %></li>
          <li class="list-group-item">Observations : <%= @brand.brand_observation %></li>
          <li class="list-group-item">Groupe FB : <%= @brand.brand_group %></li>
        </ul>
    </div>
    <div class="col-md-2">
        <h3 class="text-center">MarketPlace</h3>
        <ul class="list-group list-group-flush">
          <% if @brand.brand_market_sign == true %><li class="list-group-item">Coach : <%= @brand.brand_market_coach %></li> <% end %>
          <li class="list-group-item">Inscrit : <% if @brand.brand_market_sign == true %><i class="fas fa-check text-success"></i><% else %><i class="fas fa-times text-danger"></i><% end %></li>
          <li class="list-group-item">Stripe : <% if @brand.brand_market_paiement == true %><i class="fas fa-check text-success"></i><% else %><i class="fas fa-times text-danger"></i><% end %></li>
          <li class="list-group-item">Frais d'envoi : <% if @brand.brand_market_shipping == true %><i class="fas fa-check text-success"></i><% else %><i class="fas fa-times text-danger"></i><% end %></li>
          <li class="list-group-item">Frontpage : <% if @brand.brand_market_frontpage == true %><i class="fas fa-check text-success"></i><% else %><i class="fas fa-times text-danger"></i><% end %></li>
          <li class="list-group-item">Produits : <% if @brand.brand_market_products == true %><i class="fas fa-check text-success"></i><% else %><i class="fas fa-times text-danger"></i><% end %></li>
        </ul>
    </div>
    <div class="col-md-2">
        <h3 class="text-center">Administratif</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">SIREN : <%= @brand.brand_siren %></li>
          <li class="list-group-item">Adresse : <%= @brand.brand_address %></li>
          <li class="list-group-item">Code postal : <%= @brand.brand_postal %></li>
          <li class="list-group-item">Ville : <%= @brand.brand_city %></li>
          <li class="list-group-item">Statut juridique : <%= @brand.brand_juridiq %></li>
        </ul>
    </div>
    <div class="col-md-2">
        <h3 class="text-center">Contact</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fab fa-internet-explorer"></i> <% if @brand.brand_website.size > 0 %><a href="<%= @brand.brand_website %>" target="_blank">Voir le site</a><% end %></li>
          <li class="list-group-item"><i class="fas fa-envelope-square"></i> <a href="mailto:<%= @brand.brand_mail %>"><%= @brand.brand_mail %></a></li>
          <li class="list-group-item"><i class="fas fa-phone-square-alt"></i> <%= @brand.brand_phone %></li>
          <li class="list-group-item"><i class="fab fa-facebook-square"></i> <% if @brand.brand_facebook.size > 0 %><a href="<%= @brand.brand_facebook %>" target="_blank">Voir le Facebook</a><% end %></li>
          <li class="list-group-item"><i class="fab fa-twitter-square"></i> <% if @brand.brand_twitter.size > 0 %><a href="<%= @brand.brand_twitter %>" target="_blank">Voir le Twitter</a><% end %></li>
          <li class="list-group-item"><i class="fab fa-instagram"></i> <% if @brand.brand_instagram.size > 0 %><a href="<%= @brand.brand_instagram %>" target="_blank">Voir le Instagram</a><% end %></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 class="text-center">Membres</h3>
        <% if @members.size > 0 %>
            <ul class="list-group list-group-flush">
                <% @members.each do |member| %>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-1">
                            <%= form_tag("/members/#{member.id}", method: "delete", class: '') do %>
                                <%= submit_tag("X", class: 'btn btn-primary btn-sm') %>
                            <% end %>
                        </div>
                        <div class="col-11">
                            <a href="/persons/<%= member.people.id %>"><%= member.people.first_name %> <%= member.people.last_name %></a> : <%= member.member_role %>
                        </div>
                    </div>
                </li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>

<div class="row marged">
    <div class="col-md-6">
        <h3 class="text-center">Historique</h3>
        <% @notes.each do |note| %>
            <div class="row">
                <div class="col-1">
                    <%= form_tag("/notes/#{note.id}", method: "delete", class: '') do %>
                        <%= submit_tag("X", class: 'btn btn-primary btn-sm') %>
                    <% end %>
                </div>
                <div class="col-11">
                    <p class="text-left"><%= note.note_datetime.strftime("Le %d/%m/%Y à %H:%M") %> avec <a href="/persons/<%= note.people.id %>"><%= note.people.first_name  %> <%= note.people.last_name  %></a></p>
                    <p><%= note.note_content %></p>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Ajouter une note</h3>
        <%= form_tag "/notes/#{@brand.id}", method: "post" do %>
            <div class="form-group">
                <label>Personne concernée</label>
                    <select name="people_id" class="form-control border">
                        <% @members.each do |member| %>
                           <option value="<%= member.people_id %>"><%= member.people.last_name %> <%= member.people.first_name %></option>
                        <% end %>
                    </select>
            </div>
            <div class="form-group">
                <label>Activité</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Activité" name="note_content"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Ajouter l'activité</button>
            </div>
        <% end %>
    </div>
</div>
  
<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
<% end %>